.wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title {
    font-family: "Luckiest Guy", cursive;
    font-size: 3.3rem;
    line-height: 4rem;
    letter-spacing: 3px;
    text-align: center;
    color: var(--secondary);
    text-shadow: 1px -1px var(--primary),  
        0.8px -0.8px var(--primary), 0.6px -0.6px var(--primary),  
        0.4px -0.4px var(--primary), 0.2px -0.2px var(--primary), 
        -0.2px 0.2px var(--primary), 
        -0.4px 0.4px var(--primary), -0.6px 0.6px var(--primary),  
        -0.8px 0.8px var(--primary), -1px 1px var(--primary),
        -1.2px 1.2px var(--primary), -1.4px 1.4px var(--primary), 
        -1.6px 1.6px var(--primary), -1.8px 1.8px var(--primary), 
        -2px 2px var(--primary), -2.2px 2.2px var(--primary), 
        -2.4px 2.4px var(--primary), -2.6px 2.6px var(--primary), 
        -2.8px 2.8px var(--primary), -3px 3px var(--primary),
        -3.2px 3.2px var(--primary), -3.4px 3.4px var(--primary), 
        -3.6px 3.6px var(--primary), -3.8px 3.8px var(--primary),
        -4px 4px var(--primary), -4.2px 4.2px var(--primary), 
        -4.4px 4.4px var(--primary), -4.6px 4.6px var(--primary), 
        -4.8px 4.8px var(--primary), -5px 5px var(--primary),
        -5.2px 5.2px var(--primary), -5.4px 5.4px var(--primary), 
        -5.6px 5.6px var(--primary), -5.8px 5.8px var(--primary), 
        -6px 6px var(--primary), -6.2px 6.2px var(--primary), 
        -6.4px 6.4px var(--primary), -6.6px 6.6px var(--primary), 
        -6.8px 6.8px var(--primary), -7px 7px var(--primary);
    overflow: hidden;
    padding: 0 20px 10px 20px;
}

.top {
    opacity: 0;
    letter-spacing: 50px;
    /* animation: falldown 1000ms ease-in-out 0ms 1 forwards; */
    animation-name: tanim;
    animation-duration: 1000ms;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-delay: 2022ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes tanim {
    0% {
        opacity: 0;
        letter-spacing: 50px;
    }

    100% {
        opacity: 1;
        letter-spacing: 3px;
    }
}

@media (min-width: 640px) {
    .title {
        font-size: 4.5rem;
        line-height: 6rem;
        text-shadow: 2px -2px var(--primary), 1.5px -1.5px var(--primary), 1px -1px var(--primary),
            -1px 1px var(--primary), -1.5px 1.5px var(--primary), -2px 2px var(--primary), 
            -2.5px 2.5px var(--primary), -3px 3px var(--primary), -3.5px 3.5px var(--primary),
            -4px 4px var(--primary), -4.5px 4.5px var(--primary), -5px 5px var(--primary), 
            -5.5px 5.5px var(--primary), -6px 6px var(--primary), -6.5px 6.5px var(--primary),
            -7px 7px var(--primary), -7.5px 7.5px var(--primary), -8px 8px var(--primary), 
            -8.5px 8.5px var(--primary), -9px 9px var(--primary), -9.5px 9.5px var(--primary),
            -10px 10px var(--primary);
    }
}

@media (min-width: 1280px) {
    .title {
        font-size: 6rem;
        line-height: 8rem;
        text-shadow: 3px -3px var(--primary),
            2px -2px var(--primary), 1px -1px var(--primary),
            -1px 1px var(--primary), -2px 2px var(--primary), -3px 3px var(--primary),
            -4px 4px var(--primary), -5px 5px var(--primary), -6px 6px var(--primary),
            -7px 7px var(--primary), -8px 8px var(--primary), -9px 9px var(--primary),
            -10px 10px var(--primary), -11px 11px var(--primary), -12px 12px var(--primary),
            -13px 13px var(--primary);
    }
}