.main {
    display: flex;
    --s: 90px;
    /* size  */
    --m: 2px;
    /* margin */
    --f: calc(1.732 * var(--s) + 4 * var(--m) - 1px);
}

.wrapper {
    font-size: 0;
    /*disable white space between inline block element */
    /*background-color: var(--primary);  TODO : change this to shadowed bg */
}

.hex {
    width: var(--s);
    margin: var(--m);
    height: calc(var(--s)*1.1547);
    display: inline-block;
    font-size: initial;
    position: relative;
    margin-bottom: calc(var(--m) - var(--s)*0.2885);
}

.hex svg {
    position: absolute;
    height: 100%;
    width: 100%;

}
.hex span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Sora', sans-serif;
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--secondary);
    text-align: center;
}

.wrapper::before {
    content: "";
    width: calc(var(--s)/2 + var(--m));
    float: left;
    height: 120%;
    shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 3px),
            #000 0 var(--f));
}
@media (min-width: 640px) {
    .main {
        --s: 110px
    }
}
@media (min-width: 1024px) {
    .main {
        --s: 120px
    }
    .hex span {
        font-size: 0.9rem;
    }
}
@media (min-width: 1280px) {
    .main {
        --s: 125px
    }
    .hex span {
        font-size: 1rem;
    }
}